name: lint-test
on:
  push:
    tags:
      - v*
    branches:
      - "*"
    paths-ignore:
      - '**/README.md'
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: stable
        cache: true
    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic ./...
    - name: Upload coverage to Codecov
      if: github.repository_owner == 'moshebe'
      uses: codecov/codecov-action@v4
      with:
        files: ./coverage.txt
        fail_ci_if_error: false
