name: lint-test
on:
  push:
    tags:
      - v*
    branches:
      - "*"
  pull_request:
permissions:
  contents: read
jobs:
  golangci:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x
    - name: Checkout code
      uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        # In order:
        # * Module download cache
        # * Build cache (Linux)
        # * Build cache (Mac)
        # * Build cache (Windows)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Test
      run: go test -cover ./...
    - name: Coverage
      if: github.repository_owner == 'moshebe'
      run: |
        echo -n > coverage.txt
        for pkg in $(go list ./...) ; do go test -coverprofile=profile.out -covermode=atomic ${pkg} && cat profile.out >> coverage.txt; done

        bash <(curl -s https://codecov.io/bash)
